body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-weight: 300;
  max-width: 80%;
  margin: auto;
  background-color: #fdfdfd;
}


form {
  width: 100%;
  max-width: 100%;
  margin: 20px auto;
}
.filtros input {
  border: 1px solid #5e32ad;
  border-radius: 5px;
  padding: 6px;
  margin: 2px 4px;
  color: #5e32ad;
  width: 12%;
}

.setores input {
  margin: 5px 4px 5px 24px;
  color: #5e32ad;
}
